.item{
  display:  flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background: linear-gradient(157deg, #AAA3FF 7.09%, #717FFF 88.93%);
  color: #100733;
  opacity: .6;
}
.container{
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.temps{
  display: flex;
  justify-content: flex-end;
  gap: 40px;

}
.temp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.temp span{
  font-size: 18px;
}
.temp p{
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}
.date{
  font-size: 20px;
}

@media (max-width: 600px) {
  .container{
    flex-direction: column;
  }
}